<div>


company name<input type="text" name="companyName" ng-model="companyName"><br>
Role<input type="role" name="role" ng-model="role"><br>
Role<input type="skillsRequired" name="skillsRequired" ng-model="skillsRequired"><br>
Role<input type="eligibility" name="eligibility" ng-model="eligibility"><br>
Role<input type="companyUrl" name="companyUrl" ng-model="companyUrl"><br>
Role<input type="ctc" name="ctc" ng-model="ctc"><br>
Role<input type="interviewDate" name="interviewDate" ng-model="interviewDate"><br>
Role<input type="companyAddress" name="companyAddress" ng-model="companyAddress"><br>


<button ng-click="jobs()">Jobs</button>


</div>